@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@import "./variables.css";
@import "./base.css";
@import "./utilities.css";
@import "./tiptap.css";
@import "./prose.css";
